version: "3.8"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "8000:8000"
    depends_on:
      - osrm
    environment:
      - OSRM_URL=http://osrm:5000
    networks:
      - app-network
    volumes:
      - ./backend:/app
      - ./backend/osrm-data:/data

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - backend
    networks:
      - app-network
    environment:
      - VITE_BACKEND_URL=http://backend:8000
    volumes:
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - /etc/letsencrypt/live/minutetoure.duckdns.org/fullchain1.pem:/etc/ssl/certs/fullchain1.pem:ro
      - /etc/letsencrypt/live/minutetoure.duckdns.org/privkey1.pem:/etc/ssl/private/privkey1.pem:ro
  osrm:
    image: osrm/osrm-backend
    command: osrm-routed --algorithm mld /data/sweden-latest.osrm
    ports:
      - "5050:5000"
    volumes:
      - ./backend/osrm-data:/data
    networks:
      - app-network

# Shared network so containers see each other by name
networks:
  app-network:
    driver: bridge
